<div class="container-fluid"  style="overflow:auto; height:580px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Student Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Workflow
                </div>
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Admin" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading"> 
                                                   Admin
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Admission</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Admission</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Accounts" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Accounts
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Exam Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Transport Fees Revision</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                                <tr class="warning">
                                                                    <td>3</td>
                                                                    <td>Urgent</td>
                                                                    <td>Special Class Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Pending Approval</td>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <td>4</td>
                                                                    <td>ASAP</td>
                                                                    <td>IT Certificate</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Transport" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Transport
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Exam Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Transport Fees Revision</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                                <tr class="warning">
                                                                    <td>3</td>
                                                                    <td>Urgent</td>
                                                                    <td>Special Class Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Pending Approval</td>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <td>4</td>
                                                                    <td>ASAP</td>
                                                                    <td>IT Certificate</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Student" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Student
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Exam Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Transport Fees Revision</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                                <tr class="warning">
                                                                    <td>3</td>
                                                                    <td>Urgent</td>
                                                                    <td>Special Class Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Pending Approval</td>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <td>4</td>
                                                                    <td>ASAP</td>
                                                                    <td>IT Certificate</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Staff" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Staff
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Exam Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Transport Fees Revision</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                                <tr class="warning">
                                                                    <td>3</td>
                                                                    <td>Urgent</td>
                                                                    <td>Special Class Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Pending Approval</td>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <td>4</td>
                                                                    <td>ASAP</td>
                                                                    <td>IT Certificate</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                            <md-tab label="Others" class="tab">
                                <md-content class="md-padding">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    Others
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>ID</th>
                                                                    <th>Priority</th>
                                                                    <th>Title</th>
                                                                    <th>Start DateTime</th>
                                                                    <th>End DateTime</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="success">
                                                                    <td>1</td>
                                                                    <td>High</td>
                                                                    <td>Exam Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Open</td>
                                                                </tr>
                                                                <tr class="info">
                                                                    <td>2</td>
                                                                    <td>Low</td>
                                                                    <td>Transport Fees Revision</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Closed</td>
                                                                </tr>
                                                                <tr class="warning">
                                                                    <td>3</td>
                                                                    <td>Urgent</td>
                                                                    <td>Special Class Fees</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Pending Approval</td>
                                                                </tr>
                                                                <tr class="danger">
                                                                    <td>4</td>
                                                                    <td>ASAP</td>
                                                                    <td>IT Certificate</td>
                                                                    <td>15-Mar-2017 10:10</td>
                                                                    <td>15-Mar-2017 11:10</td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
